<div ng-controller="Umbraco.PropertyEditors.TextareaController" class="umb-editor umb-textarea">
    <textarea name="textarea" ng-model="model.value" id="{{model.alias}}"
              rows="10" class="umb-editor umb-textstring textstring"
              val-server="value"
              ng-required="model.validation.mandatory"
              ng-trim="false"
              ng-change="update()">
    </textarea>

    <br />
    <small ng-show="model.config.showCharsCount" ng-class="model.className">{{model.charsText}}</small>
    <small ng-show="model.config.showWordCount"><localize key="general_totalWords">Total words</localize>: <span ng-bind="wordCount"></span></small>

    <span class="help-inline" val-msg-for="textarea" val-toggle-msg="required">Required</span>
    <span class="help-inline" val-msg-for="textarea" val-toggle-msg="valServer"></span>
</div>